@media (min-width: 1200px){
.container {
    max-width: 1170px;
}
}
@media (max-width: 1199px){
  .logo img {
    width: 180px;
  }
  h1.title-header {
    font-size: 26px;
    margin-top: 36px;
  }
  .header-info {
    margin-top: 10px;
  }
  .orange-line {
    width: 80px;
    height: 300px;
  }
  .img-robot {
    bottom: 10px;
  }
  .button-credit {
    font-size: 18px;
  }
  .item-percent {
    font-size: 10px;
  }
  .card-icon {
    margin-right: 0px;
  }
  .block-subscribe {
    padding-left: 15px;
    padding-top: 0px;
    text-align: center;
  }
  .block-subscribe p br:first-child{
    display: none;
  }
  .form-subscribe {
    margin-top: 15px;
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  .info-block {
    padding: 10px 0px;
  }
  .item-info p{
    font-size: 16px;
  }
  footer .left-widget p {
    margin-left: 0px;
  }
}
@media (max-width: 991px){
  .logo img {
    width: 100px;
  }
  .logo {
    margin: 15px 0px 0px 0px;
    float: left;
  }
  h1.title-header {
    font-size: 18px;
    margin-top: 18px;
  }
  .menu {
    right: 0px;
    top: 35px;
  }
  .menu ul li a {
    font-size: 18px;
  }
  .header-info p {
    font-size: 16px;
  }
  .header-info {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 0px;
  }
  .img-robot{
    display: none;
  }
  header .container {
    background-size: cover;
    height: 240px;
  }
  .orange-line {
    width: 60px;
    height: 240px;
  }
  .header-info {
    margin-top: 40px;
  }
  .social-button {
    margin-top: 45px;
  }
  .logo-company {
    height: auto;
  }
  .item-right {
    height: auto;
  }
  p.summa-text, p.kol-credit, p.card-text {
    font-size: 14px;
  }
  span.item-price {
    font-size: 20px;
  }
  .item-right {
    position: unset;
  }
  .item-block {
    height: auto;
  }
  .item-block .row > .col-md-12:last-child{
    position: unset;
  }
  .item-percent {
    width: 25%;
    right: 30px;
  }
  .recomm-text {
    height: 156px;
  }
  .logo-company {
    height: 140px;
    padding: 0px 10px;
  }
  .recomm-text p {
    margin: 23px auto;
  }
  .subscribe-left, .subscribe-right {
    width: 50%;
    margin: 0px 20px;
  }
  .subscribe-right{
    margin-top: 20px;
  }
  .block-subscribe img {
    max-width: 30%;
  }
  .block-subscribe {
    text-align: right;
  }
  .item-info {
    margin: 0px 20px;
    height: 170px;
  }
  .item-info p {
    font-size: 14px;
  }
  .item-info img {
    margin-bottom: 10px;
    width: 90px;
  }
  .item-info {
    margin: 0px 20px;
    height: 135px;
    width: 130px;
  }
  p.text-bottom {
    text-align: center;
    margin: 0px 15px;
    margin-left: 15px;
  }
  .img-notebook {
    text-align: center;
    margin-top: 30px;
  }
  .img-notebook img {
    text-align: center;
    width: 300px;
    margin: 0px auto;
  }
  .right-widget, .left-widget{
    text-align: center;
  }
  .footer-social a {
    float: none;
  }
  .footer-social {
    float: none;
    margin: 0px auto;
  }
}
@media (max-width: 767px){
  .container.content {
    padding: 15px 15px;
  }
  .menu {
    top: 5px;
  }
  .menu ul li {
    padding: 0px 15px;
  }
  .link-logo{
    width: 180px;
    float: left;
  }
  .logo img {
    width: 100%;
  }
  h1.title-header {
    width: calc(100% - 180px);
    margin-top: 45px;
  }
  .items-block, .block-subscribe {
    padding: 15px 0px;
  }
  .container {
    max-width: 100%;
    width: 100%;
  }
  .orange-line {
    margin-right: 0px;
  }
  .logo-company {
    padding: 0px;
    margin-left: 5px;
  }
  .block-subscribe p {
    margin-top: 0px;
  }
  .block-subscribe {
    padding-top: 0px;
  }
  .info-block {
    width: 100%;
    margin: 20px 0px 50px 0px;
    padding: 20px 0px;
    border-radius: 30px;
  }
  .item-info {
    margin: 0px 20px;
    width: 25%;
  }
  .info-block-2, .kurs-block, .img-notebook {
    padding: 0px 0px;
  }
  .img-notebook img {
    width: 200px;
  }
  .bottom-content {
    padding: 20px 15px;
  }
  p.text-bottom {
    margin: 0px;
  }
}
@media (max-width: 575px){
  .subscribe-left, .subscribe-right {
    margin: 0px 5px;
  }
  .subscribe-right{
    margin-top: 20px;
  }
  h3 {
    font-size: 18px;
  }
  .link-logo {
    width: 100px;
  }
  h1.title-header {
    display: none;
  }
  .header-info {
    margin-top: 20px;
  }
  .header-info p {
    font-size: 14px;
  }
  p{
    font-size: 14px;
  }
  header .container {
    height: 220px;
  }
  .orange-line {
    width: 100%;
    height: 160px;
  }
  .header-info {
    padding: 5px;
  }
  .social-button {
    margin-top: 20px;
  }
  .social-button a {
      height: 30px;
      width: 30px;
  }
  .menu ul li a {
    font-size: 16px;
  }
  header .container {
    height: 160px;
  }
  header .container .row > .col-xl-3.col-lg-3.col-md-1.col-sm-2.col-2{
    padding: 0px;
  }
  .item-block {
    height: auto;
    margin: 5px 0px;
  }
  .logo-company {
    height: auto;
  }
  .logo-company img {
    text-align: center;
    width: 120px;
  }
  .center-block {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
  }
  hr.line-green, hr.line-brown {
    width: 50%;
    margin: 0px auto;
  }
  .button-credit {
    width: 50%;
    position: relative;
    bottom: 0px;
    right: 0px;
    border-radius: 5px;
    height: 40px;
    margin: 10px auto;
    margin-top: 0px;
    line-height: 40px;
  }
  p.kol-credit, p.card-text {
    font-size: 14px;
    margin: 10px 5px;
  }
  .card-icon {
    margin-right: 0px;
    display: none;
  }
  .recomm-text {
    height: 101%;
    display: none;
  }
  .item-percent {
    width: 70%;
    right: 0px;
    left: 0px;
    margin: 0px auto;
  }
  .logo-company {
    height: auto;
    margin-top: 30px;
    margin-left: 0px;
  }
  .form-subscribe input {
    width: 100%;
    margin: 5px 0px;
    font-size: 14px;
  }
  .form-subscribe {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .block-subscribe img {
    display: none;
  }
  .info-block {
    width: 100%;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .item-info {
    margin: 10px 20px;
    height: auto;
    overflow: hidden;
    width: calc(50% - 40px );
  }
  .item-info p {
    height: 32px;
    overflow: hidden;
  }
  .item-info img {
    margin-bottom: 10px;
    width: 100%;
  }
  p.text-bottom {
    text-align: center;
    margin: 0px 0px;
    margin-left: 0px;
  }
}
@media (max-width: 320px){
  .button-credit {
    width: 70%;
  }
  .subscribe-right {
    margin-top: 30px;
  }
}
